.container-actividades {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
}

.container-cards-act {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

