.footer-content {
  display: flex;
  margin-top: 1.25rem;
  flex-direction: column;
  max-width: 35ch;
  gap: 1rem;
}

.footer-logo {
  margin-left: 1rem;
}

.redes {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.social-links {
  color: var(--clr-negro);
}
