.container-cards {
  display: flex;
  margin-top: 3.5rem;
  gap: 3rem;
  border: 1px solid var(--clr-gris-claro);
  border-radius: 1rem;
  padding: 4rem 1.5rem;
  overflow: scroll;
  z-index: 10;
}

.container-cards::-webkit-scrollbar {
  display: none;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
