.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1.75rem 0 1.75rem;
  }
  
  .menu {
    height: 24px;
    width: 24px;
    border: 1px solid black;
  }