.container-problematicas {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.problematicas-text {
  border-left: 1px solid var(--clr-gris-medio);
  padding-left: 2rem;
}
