.first-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.first-text > p {
  margin-left: 2rem;
  max-width: 30ch;
}

.text-proyectos {
  padding: 50px 0px 50px 0px;
}

.text-proyectos > p {
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 27ch;
}

.proyectos-title {
  margin-inline: auto;
  max-width: 30ch;
}

.proyectos-title > h2,
.proyectos-title > p {
  text-align: center;
}

.img-container-impar {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid red;
}

.img-tateti-impar {
  max-width: 80%;
  position: relative;
  border: 2px solid green;
}

.name-img-impar {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  /* background-color: var(--clr-gris-claro); */
  background-color: aliceblue;
  border-radius: 3rem;
  padding: 0.75rem 2rem 0.75rem 1.5rem;
  left: 1%;
  transform: translateY(125%);
}

.img-container-par {
  display: flex;
  border: 2px solid red;
}

.img-tateti-par {
  max-width: 80%;
  position: relative;
  border: 2px solid green;
}

.name-img-par {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  /* background-color: var(--clr-gris-claro); */
  background-color: aliceblue;
  border-radius: 3rem;
  padding: 0.75rem 2rem 0.75rem 1.5rem;
  transform: translate(43%, 290%);
}

/*.img-container-impar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
}

.img-container-par {
  position: relative;
  text-align: center;
}

 
.imgTateti1 {
  width: 80%;
  border-radius: 15px;
}
.imgTateti2 {
  width: 80%;
  border-radius: 15px;
}

.name-img1 {
  display: flex;
  position: absolute;
  top: 89px;
  left: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

.name-img2 {
  display: flex;
  position: absolute;
  top: 89px;
  right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
} */
