/* .title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 30ch;
} */

.first-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.first-text > p {
  margin-left: 2rem;
  max-width: 30ch;
}

.text-proyectos {
  padding: 50px 0px 50px 0px;
}

.text-proyectos > p {
  font-size: 1.125rem;
  line-height: 2rem;
  max-width: 27ch;
}

h2,
p {
  padding: 0.5rem 0px 0.5rem 0px;
  margin-right: 0.5rem;
}

.img-container1 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
}

.img-container2 {
  position: relative;

  text-align: center;
}

.imgTateti1 {
  width: 80%;
  border-radius: 15px;
}
.imgTateti2 {
  width: 80%;
  border-radius: 15px;
}

.name-img1 {
  display: flex;
  position: absolute;
  top: 89px;
  left: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}

.name-img2 {
  display: flex;
  position: absolute;
  top: 89px;
  right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
}
