.container-title {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}